<h1>New logo</h1>

<%= link_to "All logos", logos_path %>  <%= link_to "New logo request", new_logo_path %>

<br><br>

<hr>

<%= form_tag({:controller => "logos", :action => "generate_logos"}, :method => "post") do %>

  <div class="field">
    <p>Add company names, separated with a comma. Requesting logos will destroy previous ones.</p>
    <%= text_field_tag :companies %><br>
  </div>

  <br>

  <div class="actions">
    <%= submit_tag "Go" %>
  </div>

<% end %>


